<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Lista de tienda"/></h1>
                
                 <div>
                     <h:commandButton id="btnAgregarTienda" value="Agregar Tienda" action="#{tienda.agregarTienda()}" />
                                               
                                            </div>
                <p:dataTable value="#{tienda.listTiendaaux}" var="item">
                                    <p:column headerText="Nombre de la Tienda" width="200">
                                        <p:inputTextarea value="#{item.tienda.nombreTienda}"  maxlength="500"  style="width:100%" rows="2" >
                                        </p:inputTextarea>
                                    </p:column>
                   
                     <p:column headerText="Acciones"  style="width: 100px;">
                                        <div >
                                            <div>
                                                <h:commandButton id="btnGuardarTienda" value="Guardar Tienda" action="#{tienda.guardarTienda(item.tienda)}" />
                                               
                                            </div>
                                            <div>
                                                <h:commandButton id="btnEliminarTienda" onclick="if (!confirm('Esta seguro de eliminar'))
                                                            return false" value="Eliminar Tienda" action="#{tienda.eliminarTienda(item.tienda)}" />
                                               
                                            </div>
                                        </div>
                                    </p:column>
                </p:dataTable>
                
                
            </h:form>
        </f:view>

      
        <br />
        <f:view>


            <h:form>
                <h1><h:outputText value="Lista de Materiales"/></h1>
                
                 <div>
                     <h:commandButton id="btnAgregarMateriales" value="Agregar Materiales" action="#{material.agregarTienda()}" />
                                               
                                            </div>
                <p:dataTable value="#{material.listMaterialesaaux}" var="item">
                   
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nombre Materiales"/>
                        </f:facet>
                         <p:inputTextarea value="#{item.materiales.nombreMateriales}"  maxlength="500"  style="width:100%" rows="2" >
                                        </p:inputTextarea>
                    
                    </p:column>
                    
                     <p:column headerText="Acciones"  style="width: 100px;">
                                        <div >
                                            <div>
                                                <h:commandButton id="btnGuardarMateriales" value="Guardar Materiales" action="#{material.guardarMateriales(item.materiales)}" />
                                               
                                            </div>
                                            <div>
                                                <h:commandButton id="btnEliminarMateriales" onclick="if (!confirm('Esta seguro de eliminar'))
                                                            return false" value="Eliminar Materiales" action="#{material.eliminarMateriales(item.materiales)}" />
                                               
                                            </div>
                                        </div>
                                    </p:column>
                </p:dataTable>
            </h:form>
        </f:view>

    </h:body>
</html>

